@import "modern-normalize.css";

:root {
  --text: #cdd6f4;
  --background: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --overlay: #6c7086;
  --red: #f38ba8;
  --green: #a6e3a1;
}

body {
  background-color: var(--background);
  color: var(--text);

  max-width: 50rem;

  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  height: 9rem;
  background-color: var(--background);
  text-align: center;
  font-size: 1.7rem;
}

main {
  height: 80vh;
  background-color: var(--crust);
  border-radius: 7px;
  padding: 2rem;
}

.book-container {
  width: 45rem;
}

.table-head {
  font-weight: bold;
  border-bottom: 1px solid var(--text);
  margin-bottom: 1rem;
}

tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2rem;
  grid-template-rows: 2rem;
  color: var(--text);
}

td {
  align-self: center;
  margin-left: 5px;
}

td.number {
  justify-self: end;
  margin-right: 2rem;
}

table tr:nth-child(even) {
  background-color: var(--mantle);
}

table tr:hover {
  background-color: var(--overlay);
  color: var(--mantle);
}

#newBookModal {
  width: 48ch;
  border: none;
}

#newBookModal::backdrop {
  background-color: black;
  opacity: 0.4;
}
