@import "modern-normalize.css";

:root {
  --text: #cdd6f4;
  --background: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --overlay: #6c7086;
  --red: #f38ba8;
  --green: #a6e3a1;
  --textColorSVG: invert(86%) sepia(6%) saturate(1149%) hue-rotate(192deg)
    brightness(101%) contrast(91%);
  --redColorSVG: invert(66%) sepia(28%) saturate(810%) hue-rotate(298deg)
    brightness(96%) contrast(97%);
}

body {
  background-color: var(--background);
  color: var(--text);

  max-width: 50rem;

  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  height: 9rem;
  background-color: var(--background);
  text-align: center;
  font-size: 1.7rem;
}

main {
  height: 80vh;
  background-color: var(--crust);
  border-radius: 7px;
  padding: 2rem;
  overflow-y: scroll;
  scrollbar-color: var(--overlay) var(--mantle);
  scrollbar-width: thin;
}

.book-container {
  width: 45rem;
}

.table-head {
  font-weight: bold;
  border-bottom: 1px solid var(--text);
  margin-bottom: 1rem;
}

.svg {
  filter: var(--textColorSVG);
  align-self: center;
  width: 1.5rem;
}

.svg:hover {
  filter: var(--redColorSVG);
}

tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2rem;
  grid-template-rows: 2rem;
  color: var(--text);
}

td {
  align-self: center;
  margin-left: 5px;
}

td.number {
  justify-self: end;
  margin-right: 2rem;
}

table tr:nth-child(even) {
  background-color: var(--mantle);
}

table tr:hover {
  background-color: var(--overlay);
  color: var(--mantle);
}

button.open-modal {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0px;
  background-color: var(--green);
  border-radius: 6px;
  position: relative;
  left: 805px;
  bottom: 860px;
  /* position: fixed;
  top: 170px;
  right: 570px;
  z-index: 1; */
}

button.close-modal {
  width: 2rem;
  height: 2rem;
  padding: 0px;
  background-color: var(--red);
  border-radius: 6px;
}

dialog {
  padding: 0px;
}

.modal-content {
  background-color: var(--background);
  color: var(--text);
  display: grid;
  grid-template-rows: 3rem 1fr;
  display: grid;
  grid-template-rows: 3rem 1fr;
}

form > div {
  display: grid;
  margin-bottom: 1rem;
  margin-left: 1rem;
  input {
    width: 40ch;
  }
}

#addBook {
  background-color: var(--green);
  border-radius: 6px;
  padding: 5px 10px;
}

#newBookModal {
  width: 47ch;
  border: none;
}

#newBookModal::backdrop {
  background-color: black;
  opacity: 0.4;
}
